body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  margin-right: 10px;
 
}

.custom-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.custom-button:hover {
  background-color: #ddd;
}

.del {
  text-decoration: line-through;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item input[type="text"] {
  display: none;
  width: 150px;
  margin-right: 10px;
}

.todo-item .custom-button {
  display: inline-block;
  
}

.todo-item .save-btn {
  display: none;
  margin-left: 10px;
}
